.hm_header{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color: red;
}
.hm_header>.hm_header_box{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background: rgba(red 201, green 21, blue 35, alpha);
    height: 40px;
    position: relative;
}
.hm_header>.hm_header_box>.icon_logo{
    width: 60PX;
    height: 36px;
    position: absolute;
    background-position: 0 -103px;
    top: 4px;
    left: -40px;
}
.hm_header>.hm_header_box>.icon_logo>img
{
    width: 35px;
    position: absolute;
    background-position: 0 -103px;
}
.hm_header>.hm_header_box>.login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}
.hm_header>.hm_header_box>form{
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}
.hm_header>.hm_header_box>form>input{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    margin-top:5px;
    padding-left:  30px;  
}
.hm_header>.hm_header_box>form>.icon_search{
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top: 5px;
    left: 10px;
}
.hm_header>.hm_header_box>form>.icon_search>img{
    width: 20px;
    height: 20px;
    position: absolute;
    background-position:0 -103px;
    top: 6px;
    left: 70px;

}
/* 轮播图 */
ul{
    list-style: none;
}
.txtItemsLi span{
    display: block;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#images{
    position: relative;
}
#images>a{
    transition: opacity 1s linear;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
}
.displayImg{
    /* display: block; */
    opacity: 1;
}
.hiddenImg{
    /* display: none; */
    opacity: 0;
}
img{
    transition: opacity 1s linear;
    opacity: 1;
    width: 100%;
    height: 300px;
}
.slider{
    width: 1500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.btn{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 30px;
    background-color: #000;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-position: center;
}
.rightButton{
    right: 20px;
}
.leftButton{
    left: 10px;
}
.zyx-box{
    width: 100%; 
    height: 5px;
    /* opacity: 0.5; */
    /* background-color:#333;  */
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 5;
    transition: height 0.1s linear 0s;
}
.zyx-box:hover{
    height: 40px;
}
.txtItem{
           width: 12.5%;
           margin-right:2px ;
           color: #fff;
           text-align: center;
}
.txtItem:hover,.heighlightColor{
    background-color: rgba(252, 164, 2, 0.829);
   
}
.txtItem：last-child{
    margin: 0;
}
.normalColor{
    background-color:rgba(0, 0,0, 0.5);
}
/* 导航栏模块 */
.hm_nav{
    width: 100%;
    background: #fff;
    border-bottom:1px solid #e0e0e0; 
}
.hm_nav>ul{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap:wrap;
}
.hm_nav>ul>li{
    width: 25%;
    float: left;
}
.hm_nav>ul>li>a{
    display: block;
}
.hm_nav>ul>li>a>img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.hm_nav>ul>li>a>p{
    text-align: center;
    color: #666;
    font-size: 12px;
    padding: 6px 0;
}